<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org"
    lang="en"
    layout:decorator="template">

<head>
	<title th:text="#{tab.title.rules}">EMC Metalnx - Rules</title>
</head>

<body>
	<!-- Page Content -->
	<div layout:fragment="content">

        <div class="row">	
			<div class="col-sm-12">
				
				<!-- Header section -->
				<h1 class="page-header pull-left">
					<span th:text="#{rules.page.title}"></span>
				</h1>
				<a id="rules-page-title"  href="#" class="page-hint pull-right"><i class="fa fa-question-circle"></i></a>
				<div class="header-line"></div>
                
                
                <!-- Rule upload section -->

                <!-- Select Dropdown -->
                <!-- <div id="actions" class="col-xs-6"> -->
                    <div class="btn-group pull-left">
                        <button type="button" id="command-btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                            <span>Select Action</span> &nbsp;
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#" class="command-li" data-command="deploy">
                                    <span><i class="fa fa-exchange"></i> </span>
                                    <span>Deploy Rule</span>
                                </a>	
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#" class="command-li" data-command="delete">
                                    <span><i class="fa fa-trash-o"></i> </span> 
                                    <span>Delete Rule</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                <!-- </div> --> <!-- /. Select Dropdown -->
				
				<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#uploadModal" aria-expanded="false" >
					<span><i class="fa fa-cloud-upload"></i> </span> 
					<span>Upload External Rule</span> &nbsp;
				</button>
				            </div>
        </div> <!-- /. Main Boostrap row -->
        
        
		<!-- Upload Modal -->
		<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" th:text="#{upload.label}"></h4>
					</div>
					<div class="modal-body">
						<div class="hideElement" id="uploadMinMessage">
							<div class="alert alert-warning alert-dismissible text-center"
								role="alert">
								<button type="button" class="close" data-dismiss="alert">
									<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
								</button>
								<span>Select at least one file</span>
							</div>
						</div>
						<!-- Form submitted as soon as the user selects all files to be uploaded -->
                        <form action="/emc-metalnx-web/upload/uploadSimple" method="POST"
                              role="form" enctype="multipart/form-data" id="uploadForm">

							
							<p class="text-right">
								<span id="numberFilesUpload">No</span><span>&nbsp;file(s)
									selected</span>
							</p>
							<div class="well">
								<!-- <div class="col-sm-4 col-sm-offset-4" style="align-items: center; display: flex; min-height: 100%;"> -->`
									<button type="button" class="btn btn-primary btn-sm" id="browseButton" style="margin: 10% auto;">
										<span th:text="#{select.files.upload}"></span>
									</button>
								<!-- </div> -->
								<input type="file" accept=".re" multiple="multiple" name="rulefiles"
									id="inputFiles" class="form-control" />
								<div id="filesList">
								</div>
							</div>

							<div id="uploadControlOptions">
								<div class="row form-group">
									<div class="col-md-8">
										<div class="btn-group" id="#selectResources">
										  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    Select Resources <span class="caret"></span>
										  </button>
										  <div class="dropdown-menu" id="resourceCheckboxes">
										    <!-- <ul> -->
										       <li th:each="resource : ${resources}">
										         <input type="checkbox" th:value="${resource.host}"/> 
										         <label th:text="${resource.name}">Resource Name</label>
										       </li>
										    <!-- </ul> -->
										  </div>
										</div>
									</div>
									<div class="col-md-4">
										<input type="checkbox" id="inputOverwriteDuplicateFiles"
											name="inputOverwriteDuplicateFiles"
											th:checked="${overwriteFileOption}" /> &nbsp;&nbsp;<span>Overwriteduplicate files</span>
									</div>
								</div>
							</div>
						</form>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{forms.cancel.action.button}"></button>
						<a type="button" class="btn btn-primary" id="uploadRulesBtn" target="_blank" href="?uploadNewTab=true">
							<i class="fa fa-upload"></i> <span th:text="#{upload.label}"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function(){
				
				// Add popover on page title
				$('#rules-page-title').popover({
					title:[[#{rules.page.title}]],
					content:[[#{rules.page.title.popover}]],
					trigger: 'hover click',
					placement: 'left',
				});
				
				$('#uploadModal').on('show.bs.modal', function(){
					$('#uploadForm').each(function(){
						this.reset();
					});
					$('#filesList').html('');
					$('#numberFilesUpload').html('No');
					$('#uploadControlOptions').hide();
					$('#browseButton').show();
					
					// Hiding the resource selection box on the upload modal
					$("#selectResource").prop("disabled", true);
				});
				
			});
			
			function updateResourceForReplicationOptions() {
	        	$("#selectResource > option").remove();
    			$("#selectResourceToUpload > option").each(function() {
    				if(!$(this).is(":selected")) {
    					$("#selectResource").append($(this).clone());
    				}	    				
    			});
	        }
			
			$("#selectResourceToUpload").change(function() {
	        	updateResourceForReplicationOptions();
	        });
			
			$("#inputReplica").change(function () {
	        	if($(this).is(":checked")) {	   
	        		updateResourceForReplicationOptions();	    			
	                $("#selectResource").prop("disabled", false);
	            }
	        	else {
	                $("#selectResource").prop("disabled", true);        		
	        	}
			});
			
			$("#browseButton").click(function(){
				$("input[name='rulefiles']").click();
			});
			
			$('.modal').on('hidden.bs.modal', function(e){
	        	$(".modal a").each(function(){
					if($(this).attr('onclick') !== undefined){
						if($(this).attr('onclick').indexOf('retractElement') >= 0){
							eval($(this).attr('onclick'));
						}
					}
				});
	        });
			
		/*]]>*/
		/**
		 * JS file used for implementing the bulk upload function.
		 */
		var files;
		var resolvedFileNames = [];
		var originalPagetitle = $('title').html();
		var command;

		/**
		 * Function that checks when the users selects files for upload.
		 */
		$("input[name='rulefiles']").change(function () {
			resolvedFileNames = [];

			files = $("input[name='rulefiles']").prop("files");
			$('#numberFilesUpload').html(files.length);
			$('#browseButton').hide();

			$.each(files, function(index, file){
				var fileName = resolveFileName(file.name);
				$("#filesList").append('<p>' + fileName + '</p>');
				resolvedFileNames.push(fileName);

				console.log("-------> Adding file: " + fileName);
			});

			$('#uploadControlOptions').show();
		});
		

		//--CUSTOM TRANSFER CHANGES HERE --------------------
		/**
		 * Handles onclick event when the user clicks on uploading a set of files.
		 */
		$("#uploadRulesBtn").click(function(){
			if($("input[name='rulefiles']").prop("files").length == 0 ){
				$('#uploadMinMessage').show();
				return;
			}

			$('#uploadModal').modal('hide');
			
			uploadAndUpdateStatusRule(files[0], 0, files.length);
		});


		$(".command-li").click(function() {
			$("#command-btn").html($(this).html() + ' &nbsp;<span class="caret"></span>');
			command = $(this).attr("data-command");
			console.log('user selected: '+ command);
		});

		$('#resourceCheckboxes li').click(function(e) {
		    e.stopPropagation();
		});

		function uploadAndUpdateStatusRule(file, index, totalFiles) {
		    // get list of hosts to upload to
		    var host_list = [];
			$('#resourceCheckboxes input:checked').each(function() {
			    host_list.push($(this).attr('value'));
			    console.log("host_list:");
			    console.log(host_list);
			});

		    var url = "/emc-metalnx-web/rules/deployNewRule/";
		    var formData = new FormData();
		    formData.append('file', file);
		    formData.append('overwriteTrue', $('#inputOverwriteDuplicateFiles').is(':checked'));
		    formData.append('command', command);
		    formData.append('hostList', host_list);

		    $.ajax({
		        url: url,
		        type: "POST",
		        data: formData,
		        cache: false,
		        contentType: false,
		        processData: false,
		        success: function (res) {
		            var response = $.parseJSON(res);
		            var transmit_response = response.transmitResponse;
		            var error = response.err;
		            alert(transmit_response);
		            showTransferCompletedMsg(0, transmit_response);
		        },
		    });
		}
		</script>

    </div> <!-- /. Page Content -->
</body>

</html>