<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.thymeleaf.org"
    lang="en"
    layout:decorator="template">

<head>
	<title th:text="#{tab.title.rules}">EMC Metalnx - Rules</title>
</head>

<body>
	<!-- Page Content -->
	<div layout:fragment="content">

        <div class="row">
			<div class="col-sm-12">
				
				<!-- Header section -->
				<h1 class="page-header pull-left">
					<span th:text="#{rules.page.title}"></span>
				</h1>
				<a id="rules-page-title"  href="#" class="page-hint pull-right"><i class="fa fa-question-circle"></i></a>
				<div class="header-line"></div>
				
				<!-- Left side spacer -->
				<div class="col-sm-3"></div>
				
				<!-- Rule upload section -->
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12">
							<div class="hideElement" id="uploadMinMessage">
								<div class="alert alert-warning alert-dismissible text-center"
									role="alert">
									<button type="button" class="close" data-dismiss="alert">
										<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
									</button>
									<span id="headerWarning">Select at least one file</span>
								</div>
							</div>
							<!-- Form submitted as soon as the user selects all files to be uploaded -->
							<form action="/emc-metalnx-web/upload/uploadSimple" method="POST"
								  role="form" enctype="multipart/form-data" id="uploadForm">
								
								<p class="text-right">
									<span id="numberFilesUpload">No</span><span>&nbsp;file(s)
										selected</span>
								</p>
								<div class="well">
									<button type="button" class="btn btn-primary btn-sm" id="browseButton" style="margin: 10% auto;">
										<span th:text="#{select.files.upload}"></span>
									</button>
									<input type="file" accept=".re" multiple="multiple" name="rulefiles"
										id="inputFiles" class="form-control" />
									<div id="filesList">
									</div>
								</div>

								<div id="uploadControlOptions">
									<div class="row form-group">
										<div class="col-md-6">
											<div class="btn-group" id="#selectResources">
											  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Select Resources <span class="caret"></span>
											  </button>
											  <div class="dropdown-menu" id="resourceCheckboxes">
												   <li th:each="resource : ${resources}">
													 <input type="checkbox" th:value="${resource.host}" checked="checked"/> 
													 <label th:text="${resource.name}">Resource Name</label>
												   </li>
											  </div>
											</div>
										</div>
										<div class="col-md-6">
											<input type="checkbox" id="inputOverwriteDuplicateFiles"
												name="inputOverwriteDuplicateFiles"
												th:checked="${overwriteFileOption}" /> &nbsp;&nbsp;<span>Overwrite duplicate files</span>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					
					<br></br>
					
					<!-- Deploy and Delete buttons -->
					<div class="row">	
						<div class="col-sm-12">
							<div class="col-sm-6">
								<a type="button" class="btn btn-primary pull-left disabled" id="uploadRulesBtn" target="_blank" href="?uploadNewTab=true">
									<i class="fa fa-exchange"></i> <span> Deploy Rule</span>
								</a>
							</div>
							<div class="col-sm-6">
								<a type="button" class="btn btn-danger pull-right disabled" id="deleteRulesBtn" target="_blank" href="?uploadNewTab=true">
									<i class="fa fa-trash-o"></i><span> Delete Rule</span>
								</a>
							</div>
						</div>
					</div>
					
					<br></br>
					<br></br>
					
					<!-- Server results section -->
					<div class="row">
						<h4 class="pull-left">Server Responses</h4>
					</div>
					<div class="row">
						<div class="well" style="max-height: 7; overflow-y: scroll;">
							<div id="serverResponseList">
							</div>
						</div>
					</div>
				</div>
				
				<!-- Right side spacer -->
				<div class="col-sm-3"></div>
				
	        </div>
        </div> <!-- /. Main Boostrap row -->
		
		<script type="text/javascript" th:inline="javascript">
			//<![CDATA[
			$(document).ready(function(){
				
				// Add popover on page title
				$('#rules-page-title').popover({
					title:[[#{rules.page.title}]],
					content:[[#{rules.page.title.popover}]],
					trigger: 'hover click',
					placement: 'left',
				});
				
				resetRulesElements();
			});
			
			$("#browseButton").click(function(){
				$("input[name='rulefiles']").click();
			});
			
			// Reset elements
			function resetRulesElements() {
				$('#uploadForm').each(function(){
					this.reset();
				});
				$('#filesList').html('');
				$('#numberFilesUpload').html('No');
				$('#browseButton').show();
				
				// Disable the buttons
				$('#uploadRulesBtn').addClass('disabled');
				$('#deleteRulesBtn').addClass('disabled');
			}
			
			/**
			 * JS file used for implementing the bulk upload function.
			 */
			var files;
			var resolvedFileNames = [];
			var originalPagetitle = $('title').html();

			/**
			 * Function that checks when the users selects files for upload.
			 */
			$("input[name='rulefiles']").change(function () {
				resolvedFileNames = [];

				files = $("input[name='rulefiles']").prop("files");
				$('#numberFilesUpload').html(files.length);
				$('#browseButton').hide();

				$.each(files, function(index, file){
					var fileName = resolveFileName(file.name);
					$("#filesList").append('<p>' + fileName + '</p>');
					resolvedFileNames.push(fileName);

					console.log("-------> Adding file: " + fileName);
				});

				// Enable the buttons
				$('#uploadRulesBtn').removeClass('disabled');
				$('#deleteRulesBtn').removeClass('disabled');
			});
			
			
			//--CUSTOM TRANSFER CHANGES HERE --------------------
			/**
			 * Handles onclick event when the user clicks on uploading a set of files.
			 */
			$("#uploadRulesBtn").click(function(event){
				triggerUpload(event, 'deploy');
			});
			
			$("#deleteRulesBtn").click(function(event){
				triggerUpload(event, 'delete');
			});
			
			// Function that retrives user-selected files and calls the 
			// upload function
			function triggerUpload(e, buttonCommand) {
				// Selected resouce counter
				// This is also the point where it gets reset to 0
				var numResourcesChecked = 0;
				
				// If there are no files selected, show a warning instead
				if($("input[name='rulefiles']").prop("files").length == 0 ){
					$('#uploadMinMessage').show();
					$('#uploadRulesBtn').addClass('disabled');
					$('#deleteRulesBtn').addClass('disabled');
					return;
				}
				
				// Verify that at least one of the resource servers is checked
				$('#resourceCheckboxes input:checked').each(function() {
					if ($(this).attr('value')) {
						numResourcesChecked++;
					}
				});

				// If at least one resource server is selected, allow file upload
				if (numResourcesChecked > 0) {
					// Call the ajax function
					uploadAndUpdateStatusRule(files, 0, files.length, buttonCommand);
					
					resetRulesElements();
					
					// Reset the text back to the default warning about empty files
					$('#headerWarning').text("Select at least one file");
				} else {
					// Change the warning message to reflect that insufficient resources are selected
					$('#headerWarning').text("Select at least one Resource");
					
					// Prevent the upload button from the default action
					e.preventDefault();
					
					// Show the warning message
					$('#uploadMinMessage').show();
					return;
				}
			}

			$('#resourceCheckboxes li').click(function(e) {
			    e.stopPropagation();
			});

			function uploadAndUpdateStatusRule(fileArray, index, totalFiles, command) {
			    // get list of hosts to upload to
			    var host_list = [];
				$('#resourceCheckboxes input:checked').each(function() {
				    host_list.push($(this).attr('value'));
				});
				
				var url = "/emc-metalnx-web/rules/deployNewRule/";
				
				for (var idx = 0; idx < fileArray.length; idx++) {
					var formData = new FormData();
					formData.append('file', fileArray[idx]);
					formData.append('overwriteTrue', $('#inputOverwriteDuplicateFiles').is(':checked'));
					formData.append('command', command);
					formData.append('hostList', host_list);
					
					$.ajax({
						url: url,
						type: "POST",
						data: formData,
						cache: false,
						contentType: false,
						processData: false,
						success: function (res) {
							var response = $.parseJSON(res);
							var transmit_response = response.transmitResponse;
							var error = response.err;

							if (error) {
								$("#serverResponseList").append('<p>' 
								+ error
								+ '</p>');
								
							} else {
								
								// Append the server responses to the 'well' element
								transmit_response.forEach(function (element) {
									// Generate a new date timestamp
									var recvtimestamp = new Date();
									var datestring = 'Y/M/d-h:m:s - '
										.replace('Y', recvtimestamp.getFullYear())
										.replace('M', recvtimestamp.getMonth()+1)
										.replace('d', recvtimestamp.getDate())
										.replace('h', recvtimestamp.getHours())
										.replace('m', recvtimestamp.getMinutes())
										.replace('s', recvtimestamp.getSeconds());
									
									$("#serverResponseList").append('<p>' 
									+ datestring
									+ element.host
									+ ' (' + response.filename + ') '
									+ '  :  ' 
									+ element.msg 
									+ '</p>');
								});
							}
							
							showTransferCompletedMsg(0, transmit_response);
						}
					});
				}
			}
			//]]>
		</script>
    </div> <!-- /. Page Content -->
</body>

</html>